@using Claudi.Core.ViewModels.CalculatorViewModels
@using Claudi.Infrastructure.Common
@model IndexViewModel

@{
    ViewData["Title"] = "Калкулатор";
}

@section Head{
<script type="module" src="~/js/calculator/calculator.js" charset="utf-8"></script>
<link href="~/css/calculator.css" rel="stylesheet" asp-append-version="true" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.css">
}

@section Scripts{
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.1.4/toastr.min.js"></script>
}

<div class="container">
    @if (Model.Saved == Constants.SUCCESS)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <div><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
            <p>Продуктът е запазен в профила Ви. <a href="/MyProducts/Index">Запазени Продукти</a></p>
        </div>
    }
    else if (Model.Saved == Constants.FAILD)
    {
        <div class="alert alert-success alert-dismissible" role="alert">
            <div><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button></div>
            <p>Възникна грешка. Моля опитайте по-късно.</p>
        </div>
    }
    <div class="row"><h1>Калкулатор</h1></div>
    <div class="row">
        <div id="calculator-container" class="col">
            <div class="element">
                <div class="question">
                    <h3>1. Продукт</h3><h4 id="typeHeading"></h4>
                    <button><i class="fas fa-minus-circle"></i></button>
                </div>
                <div id="productChoice" class="answer">
                    <fieldset id="product">
                        @foreach (var item in Model.Products)
                        {
                            <div class="raduo-button-container">
                                <input id="@item.ShortName" type="radio" name="@item.Name" value="@item.Id">
                                <label class="radio-button-label" for="@item.ShortName">@item.Name</label>
                            </div>
                        }
                    </fieldset>
                </div>
            </div>

            <div class="element">
                <div class="question">
                    <h3>2.Модел </h3><h4 id="modelHeading"></h4>
                    <button><i class="fas fa-plus-circle"></i></button>
                </div>
                <div id="modelChoice" class="answer hideText">
                    <fieldset id="model">Изберете Продукт</fieldset>
                </div>
            </div>

            <div class="element">
                <div class="question">
                    <h3>3. Цвят</h3><h4 id="colorHeading"></h4>
                    <button><i class="fas fa-plus-circle"></i></button>
                </div>
                <div id="colorChoice" class="answer hideText">
                    <fieldset id="color">Изберете Модел</fieldset>
                </div>
            </div>

            <div class="element">
                <div class="question">
                    <h3>4. Размери, Екстри</h3>
                    <button><i class="fas fa-plus-circle"></i></button>
                </div>
                <div class="answer hideText">
                    <form id="input-form" class="default-form">
                        Изберете Цвят
                    </form>
                </div>
            </div>
        </div>
        <div class="row">
            <form id="result" class="default-form" method="post">
            </form>
        </div>
    <div class="row margin-10px alert alert-success alert-dismissible" role="alert">
            <h5>Цената от калкулатора включва:</h5>
            <ul>
                <li>
                    Изработката на прoдукта
                </li>
                <li>
                    6% търговска отстъпка
                </li>
                <li>
                    Вземане на размер(за района на София)
                </li>
                <li>
                    Доставка(за района на София)
                </li>
            </ul>
        </div>


        <div id="show-content" class="row hidden details-content-wrapper">
            <div id="1" class=" details-content hide">
                <h2>Как Да Премерим</h2>
                <p>
                    С метална ролетка измерете габаритните размери (ширина/ височина) на площта, която искате да бъде покрита
                    от щората(напр. от стъклодържател до стъклодържател на прозореца).<br />Нанесете размерите
                    на посочените места в калкулатора изберете желаните екстри и натиснете бутона "Изчисли".<br />
                    Добавете цената за монтажа, която е от 4,00 лв./бр. щора (ако монтажа се извършва от наш техник). Към тази цена важат допълнителните 3%
                    отстъпка при предплащане.
                </p>
                <p><strong><span style="color: #ff0000;">Ако имате затруднение не забравяйте, че вземането на размер, офертата на място и доставката са напълно безплатни!</span></strong></p>
            </div>
            <div id="2" class=" details-content hide">
                <h2>Как Да Премерим</h2>
                <p>
                    С метална ролетка измерете габаритните размери (ширина/ височина) на площта,
                    която искате да бъде покрита от щората(напр. височина - от тавана до подперваза на прозореца и ширина например
                    по 15 см. от външната страна на левия и десния ръб на прозореца).
                    <br />Нанесете размерите
                    на посочените места в калкулатора изберете желаните екстри и натиснете бутона "Изчисли".<br />Добавете цената за монтажа, която е от
                    7,00 лв/л.м. на корниза (ако монтажа се извърши от наш техник). Към тази цена важат допълнителните 3% отстъпка при
                    предплащане.
                </p>
                <p><span style="color: #ff0000;"><strong>Ако имате затруднение не забравяйте, че вземането на размер, офертата на място и доставката са напълно безплатни!</strong></span></p>
            </div>
            <div id="3" class=" details-content hide">
                <h2>Как Да Премерим</h2>
                <p>
                    С метална ролетка измерете габаритните размери (ширина/ височина) на площта,
                    която искате да бъде покрита от щората(напр. от стъклодържател до
                    стъклодържател на прозореца).<br />Нанесете размерите
                    на посочените места в калкулатора изберете желаните екстри и натиснете бутона "Изчисли".<br />Добавете цената за монтажа, която е 7,00 лв/бр щора
                    (ако монтажа се извършва от наш техник). Към тази цена важат допълнителните
                    3% отстъпка при предплащане.
                </p>
                <p>
                    <span style="color: #ff0000;">
                        <strong>
                            Ако имате затруднение не забравяйте, че
                            вземането на размер, офертата на място и доставката са напълно
                            безплатни!
                        </strong>
                    </span>
                </p>
            </div>
            <div id="4" class=" details-content hide">
                <h2>Как Да Премерим</h2>
                <p>
                    С метална ролетка измерете габаритните размери (ширина/ височина) на площта, която искате да бъде покрита
                    от щората(напр. от стъклодържател до стъклодържател на прозореца).<br />Нанесете размерите
                    на посочените места в калкулатора изберете желаните екстри и натиснете бутона "Изчисли".<br />
                    Добавете цената за монтажа, която е от 6,00 лв/бр щора (ако монтажа се извършва от наш техник).
                    Към тази цена важат допълнителните 3% отстъпка при предплащане.
                </p>
                <p><span style="color: #ff0000;"><strong>Ако имате затруднение не забравяйте, че вземането на размер, офертата на място и доставката са напълно безплатни!</strong></span></p>
            </div>
            <div id="5" class=" details-content hide">
                <h2>Как Да Премерим</h2>
                <p>
                    С метална ролетка измерете габаритните размери (ширина/ височина) на площта, която искате да бъде покрита от щората
                    (напр. от стъклодържател до стъклодържател на прозореца).<br />
                    Нанесете размерите
                    на посочените места в калкулатора изберете желаните екстри и натиснете бутона "Изчисли".<br />Добавете цената за монтажа, която е от 7,00 лв/бр щора (ако монтажа се извършва от наш техник).
                    Към тази цена важат допълнителните 3% отстъпка при предплащане.
                </p>
                <p><span style="color: #ff0000;"><strong>Ако имате затруднение не забравяйте, че вземането на размер, офертата на място и доставката са напълно безплатни!</strong></span></p>
            </div>
            <div id="6" class=" details-content hide">
                <h2>Как Да Премерим</h2>
                <p>
                    С метална ролетка измерете габаритните размери (ширина/ височина) на площта,
                    която искате да бъде покрита от щората(напр. от стъклодържател до стъклодържател на прозореца).<br />
                    Нанесете размерите
                    на посочените места в калкулатора изберете желаните екстри и натиснете бутона "Изчисли".<br />Добавете цената за монтажа, която е 7,00 лв/бр щора (ако монтажа се извършва от наш техник).
                    Към тази цена важат допълнителните 3% отстъпка при предплащане.
                </p>
                <p><span style="color: #ff0000;"><strong>Ако имате затруднение не забравяйте, че вземането на размер, офертата на място и доставката са напълно безплатни!</strong></span></p>
            </div>
            <div id="7" class=" details-content hide">
                <h2>Как Да Премерим</h2>
                <p>
                    С метална ролетка измерете габаритните размери (ширина/ височина) на площта,
                    която искате да бъде покрита от щората(напр. от стъклодържател до стъклодържател на прозореца).<br />
                    Нанесете размерите
                    на посочените места в калкулатора изберете желаните екстри и натиснете бутона "Изчисли".<br />Добавете цената за монтажа, която е 7,00 лв./бр. щора (ако монтажа се извършва от наш техник).
                    Към тази цена важат допълнителните 3% отстъпка при предплащане.
                </p>
                <p><span style="color: #ff0000;"><strong>Ако имате затруднение не забравяйте, че вземането на размер, офертата на място и доставката са напълно безплатни!</strong></span></p>
            </div>
            <div id="8" class=" details-content hide">
                <h2>Как Да Премерим</h2>
                <p>
                    С метална ролетка измерете габаритните размери (ширина/ височина) на площта,
                    която искате да бъде покрита от щората(напр. от ръб до ръб на мазилката от външната страна на прозореца).<br />
                    Нанесете размерите
                    на посочените места в калкулатора изберете желаните екстри и натиснете бутона "Изчисли".<br />
                    Добавете цената за монтажа, която е от 25,00 лв/бр. щора (ако монтажа се извършва от наш техник).
                    Към тази цена важат допълнителните 3% отстъпка при предплащане.
                </p>
                <p><span style="color: #ff0000;"><strong>Ако имате затруднение не забравяйте, че вземането на размер, офертата на място и доставката са напълно безплатни!</strong></span></p>
            </div>
            <div id="9" class=" details-content hide">
                <h2>Как Да Премерим</h2>
                <p>
                    С метална ролетка измерете габаритните размери (ширина/ височина) на площта,
                    която искате да бъде покрита от щората(напр. от ръб до ръб на мазилката от външната страна на прозореца).<br />
                    Нанесете размерите
                    на посочените места в калкулатора изберете желаните екстри и натиснете бутона "Изчисли".<br />
                    Добавете цената за монтажа, която e от 60,00 лв/бр щора (ако монтажа се извършва от наш техник).
                    Към тази цена важат допълнителните 3% отстъпка при предплащане.
                </p>
                <p><span style="color: #ff0000;"><strong>Ако имате затруднение не забравяйте, че вземането на размер, офертата на място и доставката са напълно безплатни!</strong></span></p>
            </div>
            <div id="10" class=" details-content hide">
                <h2>Как Да Премерим</h2>
                <p>
                    С метална ролетка измерете ширината на мястото, където искате да се монтира сенника.
                    След това измерете колко сантиметра искате да излиза сенника напред (или сантиметрите, които искате да се спуска надолу за ветроупорните сенници).<br />
                    Нанесете размерите
                    на посочените места в калкулатора изберете желаните екстри и натиснете бутона "Изчисли".
                    Добавете цената за монтажа, която e от 90,00 лв/бр. сенник (ако монтажа се извършва от наш техник).
                    От получения резултат извадете 6 % търговска отстъпка (плюс още 3% отстъпка при пълно предплащане).
                </p>
                <p><span style="color: #ff0000;"><strong>Ако имате затруднение не забравяйте, че вземането на размер, офертата на място и доставката са напълно безплатни!</strong></span></p>
            </div>
            <div id="11" class=" details-content hide">
                <h2>Как Да Премерим</h2>
                <p>
                    С метална ролетка измерете ширината и височината на габарита на площта, която искате да се покрие от комарника.<br />
                    Нанесете размерите
                    на посочените места в калкулатора изберете желаните екстри и натиснете бутона "Изчисли".<br />
                    Добавете цената за монтажа, която е от 10,00 лв./бр. (ако монтажа се извършва от наш техник). Към тази цена важат допълнителните 3% отстъпка при предплащане.
                </p>
                <p><span style="color: #ff0000;"><strong>Ако имате затруднение не забравяйте, че вземането на размер, офертата на място и доставката са напълно безплатни!</strong></span></p>
            </div>
        </div>
    </div>
</div>
<partial name="_FreeFeatures" />
