@using Claudi.Web.ViewModels.CalculatorViewModels
@model List<TypeViewModel>

@{
    ViewData["Title"] = "Калкулатор";
}

@section Head{
<script type="module" src="~/js/calculator/calculator.js" charset="utf-8"></script>
<link href="~/css/calculator.css" rel="stylesheet" asp-append-version="true" />
}

<!-- first start -->


<div class="container">
    <div class="row"><h1>Калкулатор</h1></div>
    <div class="row">
        <div id="calculator-container" class="col">
            <div class="element">
                <div class="question">
                    <h3>1. Продукт</h3><h4 id="typeHeading"></h4>
                    <button><i class="fas fa-minus-circle"></i></button>
                </div>
                <div id="productChoice" class="answer">
                    <fieldset id="product">
                        @foreach (var item in Model)
                        {
                            <div class="raduo-button-container">
                                <input id="@item.ShortName" type="radio" name="@item.Name" value="@item.Id">
                                <label class="radio-button-label" for="@item.ShortName">@item.Name</label>
                            </div>
                        }
                    </fieldset>
                </div>
            </div>

            <div class="element">
                <div class="question">
                    <h3>2.Модел </h3><h4 id="modelHeading"></h4>
                    <button><i class="fas fa-plus-circle"></i></button>
                </div>
                <div id="modelChoice" class="answer hideText">
                    <fieldset id="model">Изберете Продукт</fieldset>
                </div>
            </div>

            <div class="element">
                <div class="question">
                    <h3>3. Цвят</h3><h4 id="colorHeading"></h4>
                    <button><i class="fas fa-plus-circle"></i></button>
                </div>
                <div id="colorChoice" class="answer hideText">
                    <fieldset id="color">Изберете Модел</fieldset>
                </div>
            </div>

            <div class="element">
                <div class="question">
                    <h3>4. Размери, Екстри</h3>
                    <button><i class="fas fa-plus-circle"></i></button>
                </div>
                <div class="answer hideText">
                    <form id="input-form" class="default-form">
                        Изберете Цвят
                    </form>
                </div>
            </div>
        </div>



        <div class="row">
            <form id="result" class="default-form" method="post" asp-action="Save">
                
            </form>
        </div>


        <div id="show-content" class="row hidden details-content-wrapper">
            <div id="1" class=" details-content hide">
                <h2>Как Да Премерим</h2>
                <p>
                    С метална ролетка измерете габаритните размери (ширина/ височина) на площта, която искате да бъде покрита
                    от щората(напр. от стъклодържател до стъклодържател на прозореца).<br />Умножете ширината с
                    височината и получената квадратура умножете по цената от каталога според това какъв модел хоризонтална
                    щорa сте избрали. От страницата с екстри по долу изберете всички екстри, които желаете. Съберете ги с
                    цената на квадратурата на щората и от получения резултат извадете 6 % търговска отстъпка (плюс още 3% отстъпка при пълно предплащане).<br />
                    Добавете цената за монтажа, която е от 4,00 лв./бр. щора (ако монтажа се извършва от наш техник). Към тази цена важат допълнителните 3%
                    отстъпка при предплащане.
                </p>
                <p><strong><span style="color: #ff0000;">Ако имате затруднение не забравяйте, че вземането на размер, офертата на място и доставката са напълно безплатни!</span></strong></p>
            </div>
            <div id="2" class=" details-content hide">
                <h2>Как Да Премерим</h2>
                <p>
                    С метална ролетка измерете габаритните размери (ширина/ височина) на площта,
                    която искате да бъде покрита от щората(напр. височина- от тавана до подперваза на прозореца и ширина напр.
                    по 15 см. от външната страна на левия и десния ръб на прозореца).
                    <br />Умножете ширината с височината и получената квадратура умножете по цената на избрания
                    от вас плат от каталога. След което отново умножете ширината(линейни метри) по цената на избрания
                    от вас корниз от каталога. Съберете цената на плата плюс цената на корниза и от получения резултат извадете 6%
                    търговска отстъпка (плюс още 3% отстъпка при пълно предплащане).<br />Добавете цената за монтажа, която е от
                    7,00 лв/л.м. на корниза (ако монтажа се извърши от наш техник). Към тази цена важат допълнителните 3% отстъпка при
                    7,00 лв/л.м. на корниза (ако монтажа се извърши от наш техник). Към тази цена важат допълнителните 3% отстъпка при
                    предплащане.
                </p>
                <p><span style="color: #ff0000;"><strong>Ако имате затруднение не забравяйте, че вземането на размер, офертата на място и доставката са напълно безплатни!</strong></span></p>
            </div>
            <div id="3" class=" details-content hide">
                <h2>Как Да Премерим</h2>
                <p>
                    С метална ролетка измерете габаритните размери (ширина/ височина) на площта,
                    която искате да бъде покрита от щората(напр. от стъклодържател до
                    стъклодържател на прозореца).<br />Умножете ширината с височината и
                    получената квадратура умножете по цената от каталога според това какъв модел
                    дървена щорa сте избрали. От страницата с екстри по долу изберете всички
                    екстри, които желаете. Съберете ги с цената на квадратурата на щората и от
                    получения резултат извадете 6% търговска отстъпка (плюс още 3% отстъпка при
                    пълно предплащане).<br />Добавете цената за монтажа, която е 7,00 лв/бр щора
                    (ако монтажа се извършва от наш техник). Към тази цена важат допълнителните
                    3% отстъпка при предплащане.
                </p>
                <p>
                    <span style="color: #ff0000;">
                        <strong>
                            Ако имате затруднение не забравяйте, че
                            вземането на размер, офертата на място и доставката са напълно
                            безплатни!
                        </strong>
                    </span>
                </p>
            </div>
            <div id="4" class=" details-content hide">
                <h2>Как Да Премерим</h2>
                <p>
                    С метална ролетка измерете габаритните размери (ширина/ височина) на площта, която искате да бъде покрита
                    от щората(напр. от стъклодържател до стъклодържател на прозореца).<br />Вземете ширината и височината и ги
                    засечете в таблицата на избрания от Вас модел роло щори от каталога, която се намира непосредствено под текста,
                    и числото при което се засичат двете величини е цената на Вашата щора. Умножете тази цена по коефициента на избрания от
                    Вас плат. От получения резултат извадете 6% търговска отстъпка (плюс още 3% отстъпка при пълно предплащане).<br />
                    Добавете цената за монтажа, която е от 6,00 лв/бр щора (ако монтажа се извършва от наш техник).
                    Към тази цена важат допълнителните 3% отстъпка при предплащане.
                </p>
                <p><span style="color: #ff0000;"><strong>Ако имате затруднение не забравяйте, че вземането на размер, офертата на място и доставката са напълно безплатни!</strong></span></p>
            </div>
            <div id="5" class=" details-content hide">
                <h2>Как Да Премерим</h2>
                <p>
                    С метална ролетка измерете габаритните размери (ширина/ височина) на площта, която искате да бъде покрита от щората
                    (напр. от стъклодържател до стъклодържател на прозореца).<br />
                    Вземете ширината и височината и ги засечете в таблицата на избрания от Вас модел римски щори от каталога,
                    която се намира непосредствено под текста числото при което се засичат двете величини е цената на Вашата щора.
                    Умножете тази цена по коефициента на избрания от Вас плат. От получения резултат извадете 6 % търговска отстъпка
                    (плюс още 3% отстъпка при пълно предплащане).<br />Добавете цената за монтажа, която е от 7,00 лв/бр щора (ако монтажа се извършва от наш техник).
                    Към тази цена важат допълнителните 3% отстъпка при предплащане.
                </p>
                <p><span style="color: #ff0000;"><strong>Ако имате затруднение не забравяйте, че вземането на размер, офертата на място и доставката са напълно безплатни!</strong></span></p>
            </div>
            <div id="6" class=" details-content hide">
                <h2>Как Да Премерим</h2>
                <p>
                    С метална ролетка измерете габаритните размери (ширина/ височина) на площта,
                    която искате да бъде покрита от щората(напр. от стъклодържател до стъклодържател на прозореца).<br />
                    Вземете ширината и височината и ги засечете в таблицата на избрания от Вас модел бамбукови щори от каталога,
                    която се намира непосредствено под текста, и числото при което се засичат двете величини е цената на Вашата щора.
                    Умножете тази цена по коефициента на избрания от Вас бамбук. От получения резултат извадете 6% търговска отстъпка
                    (плюс още 3% отстъпка при пълно предплащане).<br />Добавете цената за монтажа, която е 7,00 лв/бр щора (ако монтажа се извършва от наш техник).
                    Към тази цена важат допълнителните 3% отстъпка при предплащане.
                </p>
                <p><span style="color: #ff0000;"><strong>Ако имате затруднение не забравяйте, че вземането на размер, офертата на място и доставката са напълно безплатни!</strong></span></p>
            </div>
            <div id="7" class=" details-content hide">
                <h2>Как Да Премерим</h2>
                <p>
                    С метална ролетка измерете габаритните размери (ширина/ височина) на площта,
                    която искате да бъде покрита от щората(напр. от стъклодържател до стъклодържател на прозореца).<br />
                    Вземете ширината и височината и ги засечете в таблицата на избрания от Вас модел плисе щори от каталога,
                    която се намира непосредствено под текста- числото при което се засичат двете величини е цената на Вашата щора.
                    Умножете тази цена по коефициента на избрания от Вас плат. От получения резултат извадете 6% търговска отстъпка
                    (плюс още 3% отстъпка при пълно предплащане).<br />Добавете цената за монтажа, която е 7,00 лв./бр. щора (ако монтажа се извършва от наш техник).
                    Към тази цена важат допълнителните 3% отстъпка при предплащане.
                </p>
                <p><span style="color: #ff0000;"><strong>Ако имате затруднение не забравяйте, че вземането на размер, офертата на място и доставката са напълно безплатни!</strong></span></p>
            </div>
            <div id="8" class=" details-content hide">
                <h2>Как Да Премерим</h2>
                <p>
                    С метална ролетка измерете габаритните размери (ширина/ височина) на площта,
                    която искате да бъде покрита от щората(напр. от ръб до ръб на мазилката от външната страна на прозореца).<br />
                    Вземете ширината и височината и ги засечете в таблицата на избрания от Вас модел външни ролетни щори от каталога,
                    която се намира непосредствено под текста, и числото при което се засичат двете величини е цената на Вашата щора с бял цвят.
                    Умножете тази цена по коефициента на избрания от Вас цвят ако сте избрали цвят, различен от бял. Добавете избраните от Вас екстри.
                    От получения резултат извадете 6 % търговска отстъпка (плюс още 3% отстъпка при пълно предплащане).<br />
                    Добавете цената за монтажа, която е от 25,00 лв/бр. щора (ако монтажа се извършва от наш техник).
                    Към тази цена важат допълнителните 3% отстъпка при предплащане.
                </p>
                <p><span style="color: #ff0000;"><strong>Ако имате затруднение не забравяйте, че вземането на размер, офертата на място и доставката са напълно безплатни!</strong></span></p>
            </div>
            <div id="9" class=" details-content hide">
                <h2>Как Да Премерим</h2>
                <p>
                    С метална ролетка измерете габаритните размери (ширина/ височина) на площта,
                    която искате да бъде покрита от щората(напр. от ръб до ръб на мазилката от външната страна на прозореца).<br />
                    Вземете ширината и височината и ги засечете в таблицата на избрания от Вас модел външни хоризонтални щори от каталога,
                    която се намира непосредствено под текста, и числото при което се засичат двете величини е цената на Вашата щора.
                    Добавете избраните от Вас екстри. От получения резултат извадете 6% търговска отстъпка (плюс още 3% отстъпка при пълно предплащане).<br />
                    Добавете цената за монтажа, която e от 60,00 лв/бр щора (ако монтажа се извършва от наш техник).
                    Към тази цена важат допълнителните 3% отстъпка при предплащане.
                </p>
                <p><span style="color: #ff0000;"><strong>Ако имате затруднение не забравяйте, че вземането на размер, офертата на място и доставката са напълно безплатни!</strong></span></p>
            </div>
            <div id="10" class=" details-content hide">
                <h2>Как Да Премерим</h2>
                <p>
                    С метална ролетка измерете ширината на мястото, където искате да се монтира сенника.
                    След това измерете колко сантиметра искате да излиза сенника напред (или сантиметрите, които искате да се спуска надолу за ветроупорните сенници).<br />
                    Вземете ширината и разстоянието, което искате да излиза напред и ги засечете в таблицата на избрания от Вас модел сенник от каталога,
                    която се намира непосредствено под текста. Числото при което се засичат двете величини е цената на Вашия сенник. Добавете избраните от Вас екстри.
                    Добавете цената за монтажа, която e от 90,00 лв/бр. сенник (ако монтажа се извършва от наш техник).
                    От получения резултат извадете 6 % търговска отстъпка (плюс още 3% отстъпка при пълно предплащане).
                </p>
                <p><span style="color: #ff0000;"><strong>Ако имате затруднение не забравяйте, че вземането на размер, офертата на място и доставката са напълно безплатни!</strong></span></p>
            </div>
            <div id="11" class=" details-content hide">
                <h2>Как Да Премерим</h2>
                <p>
                    С метална ролетка измерете ширината и височината на габарита на площта, която искате да се покрие от комарника.<br />
                    Умножете ширината с височината и получената квадратура умножете по цената на избрания от Вас модел комарник от каталога.
                    Добавете избраните от Вас екстри. За ролетни комарници си добавете рамка (рамката се смята ширината плюс височината X 2).
                    От получения резултат извадете 6 % търговска отстъпка (плюс още 3% отстъпка при пълно предплащане).<br />
                    Добавете цената за монтажа, която е от 10,00 лв./бр. (ако монтажа се извършва от наш техник). Към тази цена важат допълнителните 3% отстъпка при предплащане.
                </p>
                <p><span style="color: #ff0000;"><strong>Ако имате затруднение не забравяйте, че вземането на размер, офертата на място и доставката са напълно безплатни!</strong></span></p>
            </div>
        </div>
    </div>
</div>
<!-- first end -->
