@using Claudi.Core.ViewModels.AdministrationViewModels.DashboardViewModels 
@model DashboardVeiwModel

@{
    ViewData["Title"] = "Панел";
}

<div class="container">

    @if (Model.Created == false)
    {
    <div class="alert alert-danger alert-dismissible" role="alert">
        <p>Възникна грешка. Моля опитайте по-късно.</p>
    </div>
    }
    else
    {
        <div class="row">
            <div class="card">
                <div class="card-header bg-info">Акаунти</div>
                <div class="card-body">@Model.AccountsCount</div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header bg-danger">Администратори</div>
                <div class="card-body">@Model.AdministratorsCount</div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header bg-primary">Мостри</div>
                <div class="card-body">@Model.SamplesCount</div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header bg-warning">Каталози</div>
                <div class="card-body">@Model.CataloguesCount</div>
            </div>
        </div>
        <div class="row">
            <div class="card">
                <div class="card-header bg-success">Галерия</div>
                <div class="card-body">@Model.GalleryCount</div>
            </div>
        </div>
    }
</div>