@using Claudi.Core.ViewModels.AdministrationViewModels.DashboardViewModels 
@model DashboardVeiwModel

@{
    ViewData["Title"] = "Панел";
}

<div class="container">
    <div class="row">
        <div class="card">
            <div class="card-header bg-info">Акаунти</div>
            <div class="card-body">@Model.AccountsCount</div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header bg-danger">Администратори</div>
            <div class="card-body">@Model.AdministratorsCount</div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header bg-primary">Мостри</div>
            <div class="card-body">@Model.SamplesCount</div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header bg-warning">Каталози</div>
            <div class="card-body">@Model.CataloguesCount</div>
        </div>
    </div>
    <div class="row">
        <div class="card">
            <div class="card-header bg-success">Галерия</div>
            <div class="card-body">@Model.GalleryCount</div>
        </div>
    </div>
</div>